p{
    font-family: "Open Sans", verdana, arial, sans-serif;
    color: white;
}

h1{
    font-family: "Open Sans", verdana, arial, sans-serif;
    color: white;
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 3px;*/
    /*overflow: hidden;*/
    /*background-color: #333;*/
}

/*ul {*/

/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*}*/

/*li {*/
/*    float: left;*/
/*    font-family: "Open Sans", verdana, arial, sans-serif;*/
/*    color: white;*/
/*    font-size: x-large;*/
/*    font-weight: bolder;*/
/*    display: block;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*}*/

/*li a:hover {*/
/*    background-color: #111;*/
/*}*/

.navbar {
    /*background-color: #f0f0f0; !* Set the background color of the navbar *!*/
    background-color: rgba(18,0,20,0.94)
}

.nav-list {
    list-style-type: none; /* Remove default list styles */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    display: flex; /* Use flexbox to create a horizontal list */
}

.nav-item {
    /*margin-right: 10px; !* Add margin to the right of each list item for spacing *!*/
        float: left;
        font-family: "Open Sans", verdana, arial, sans-serif;
        font-size: x-large;
        font-weight: bolder;
        display: block;
        width: 100%;
        padding: 14px 16px;
        text-decoration: none;
}

.nav-item:last-child {
    margin-right: 0; /* Remove margin from the last list item to eliminate the gap on the right */
}

.nav-item a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set the color of the links */
    padding-left: 5%; /* Add padding to the links for spacing */
}

.nav-item a:hover {
    color: #333; /* Change link color on hover */
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {

    background: rgba(159, 81, 88, 0.85);
    border-color: rgba(159, 81, 88, 0.85);
    /*border-color: #9b4a94 !important;*/
}

.flatpickr-calendar,
.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowBottom:after,
.flatpickr-months .flatpickr-month,
.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month,
span.flatpickr-weekday,
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
    background: #120014DA !important;
}

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
    /*background: #3e0101DA;*/
    /*background: rgba(108, 54, 102, 0.85) !important;*/
    background: rgba(159, 81, 88, 0.85);
}

.flatpickr-day.week.selected {
    -webkit-box-shadow: -5px 0 0 #9cb2b0, 5px 0 0 #9cb2b0 !important;
    box-shadow: -5px 0 0 #9cb2b0, 5px 0 0 #9cb2b0 !important;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 #9cb2b0 !important;
    box-shadow: -10px 0 0 #9cb2b0 !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    /*background: rgba(159, 81, 88, 0.85);*/
    /*border-color: rgba(159, 81, 88, 0.85);*/
    background: rgba(108, 54, 102, 0.85) !important;
    border-color: rgba(108, 54, 102, 0.85);
}